* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;

}

.box {
    width: 100%;
}

.header {
    width: 100%;
    height: 84px;
    border-bottom: 2px solid #cd2f18;
    display: flex;
    align-items: center;
    
}

.logo {
    width: 310px;
    height: 60px;
}
.dianhua{
    width: 162px;
    height: 28px;
}